.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    position: sticky;
    top: 0px;
}

.search {
    width: 500px;
}

.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0px 15px;
    flex-direction: column;
}

/* Home Page */

.home {
    display: flex;
    margin-top: 7px;
}

.filters {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 18%;
    margin: 10px;
    height: 86vh;
    border-radius: 7px;
}

.filters>span {
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
}

.productContainer {
    display: flex;
    width: 80%;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    width: 21%;
    margin: 10px
}

.summary {
    width: 30%;
}

@media (max-width: 771px) {
    .filters {
        width: 40%;
    }
}

@media (max-width: 771px) {
    .productContainer {
        width: 58%;
    }
}

@media (max-width: 771px) {
    .products {
        width: 100%;
    }
}